footer{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-content{
    margin-top: 30px;
}

footer img{
    width: 100%;
    height: auto;
}

footer p{
    color: white;
    border-bottom: 70px solid #000;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

footer a {
    color: #33a8d8;
    border-bottom: 70px solid #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: center;
    text-decoration: none;

}
