.world{
    max-width: 100%;
    max-height: 800px;
}

.banner-woman{
    position: relative;
    background-image: url(../image/woman-code.png);
    background-color: black;
    height: 560px;
    background-size: cover;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

.text-content h2{
    text-transform: lowercase;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    max-width: 290px;
    text-align: left;
    text-shadow: 3px 2px #33a6d8;
}

